$primary-color: #000085;
$secondary-color: #003cda;
$tertiary-color: #33dfcc;

$secondary-color-light: #276bfb;
$tertiary-bg: #00c0ab;

$tertiary-border: #dcebff;
$white-border: #ffffff;

$light-primary-color: #dcebff;

$primary-font: "Muli", sans-serif;

$xs: 480px;
$sm: 576px;
$md: 768px;
$lg: 992px;
