.svg-absolute{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    &.t-0{
        top: 0;
    }
    &.b-0{
        bottom: 0;
    }
    &.t-60{
        top: 60px;
    }
    &.t-240{
        top: 240px;
    }
    &.bottom-0{
        bottom: 0;
    }
    &.bottom-25{
        bottom: 25px;
    }
    &.bottom-40{
        bottom: 40px;
    }
    &.right{
        left: auto;
    }
}

@media(min-width: 1200px){
    .before-integraion{
        position: relative;
        transform-style: preserve-3d;
        &:before{
            content: url(/images/icons/integration-before.svg);
            position: absolute;
            top: 545px;
            left: -90px;
            transform: translateZ(-1px);
        }
    }
    
    .after-integraion{
        position: relative;
        &:after{
            content: url(/images/icons/integration-after.svg);
            position: absolute;
            top: 26px;
            right: -90px;
            transform: translateZ(-1px);
        }
    }
}